[submodule "models/jvrc_mj_description"]
	path = models/jvrc_mj_description
	url = https://github.com/isri-aist/jvrc_mj_description.git
[submodule "models/cassie_mj_description"]
	path = models/cassie_mj_description
	url = https://github.com/rohanpsingh/cassie_mj_description.git
[submodule "models/mujoco_menagerie"]
	path = models/mujoco_menagerie
	url = https://github.com/google-deepmind/mujoco_menagerie.git
